.md-icon-button + .md-datepicker-input-container {
    float: left;
    margin-top:7px;
  }

  ::ng-deep .mat-form-field-appearance-fill .mat-form-field-fill {
    background-color: white;
    border-radius: 5px;
  }

  .example-card {
    max-width: 400px;
  }

  /* ::ng-deep .mat-focused .mat-form-field-label {
    color: white !important;
   }
   
   ::ng-deep.mat-form-field-underline {
    background-color: white !important;
   } 
   
   ::ng-deep.mat-form-field-ripple {
    background-color: white !important;;
   }
   
   ::ng-deep .mat-form-field-label {
    color: white !important;
   }  */
   
   
   /* mat-datepicker-toggle {
    color: white !important;
   } */