/* .cedula-form-field {
  width: 100%;
}

.password-form-field {
  width: 100%;
} */

/* .mat-raised-button{
  height:48px;
} */

.register{
    font-size:10px
}

a.lineeffect {
display: inline-block;
position: relative;
color: #48E3BE;
text-decoration: none;
padding: 0 800 6px;
}

a.lineeffect:after {
content: "";
display: block;
margin: auto;
height: 3px;
width: 0px;
transition: all .8s;
}

a.lineeffect:hover:after {
width: 100%;
background: #48E3BE;
}

:host {
display: flex;
justify-content: center;
margin: 40px 0px;
}

div{
display: flex;
justify-content: center;
align-items: center;
}

img {
width: 100%;
max-width: 250px;
height: auto;
}

mat-card {
max-width: 300px;
background-color: rgba(0, 0, 0, 0.0);
mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;

  form {
    .mat-form-field {
      width: 100%;
      min-width: 100px;
    }

    .error {
      padding: 16px;
      width: 300px;
      color: white;
      background-color: red;
    }

    button {
      display: flex;
      justify-content: flex-end;
      height: 35px;
      width: 100%;
      border-radius: 30px;
      background-image: linear-gradient(to right, #57BBDB , #C645A9);
      border: none;
      color: white;
      
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
    }
  }
}
}